{% extends 'layout.html.twig' %}
{% set active = 'form' %}

{% block content %}
    <h1>{{ Longitude }}</h1>
    <h1>{{ Dir }}</h1>
    <h1>{{ Time }}</h1>
    <h1>{{ True_Time }}</h1>
    <h1>{{ T_offset }}</h1>
    <h1>{{ EOT }}</h1>
    <h1>{{ Time_Zone }}</h1>
    <h1>{{ Power }}</h1>
    <h1>{{ Azimuth }}</h1>
    <h1>{{ Power }}</h1>
    <h1>{{ Opt_Az }}</h1>
{% endblock %}
